POSTGRES_DB=crm_db
POSTGRES_USER=crm_user
POSTGRES_PASSWORD=altere_esta_senha_em_producao
POSTGRES_PORT=5432

API_PORT=5100
WEB_PORT=5000

ConnectionStrings__Default=Host=db;Port=5432;Database=crm_db;Username=crm_user;Password=altere_esta_senha_em_producao
